@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Solitreo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/background.jpg");
  background-color: #151515;
  background-repeat: repeat;
  background-position: top left;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
